.App, .root, main {
  text-align: center;
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
}
main.main{
  height: 
  872px
  /* 100% */
  ;
  padding-left: 100px;
  text-align: start ;
}
/* sidebar css */
.sidenav---sidenav---_2tBP{
  background-color: #5B337E !important;
  border-right: 1px solid white !important;
  width: 100px;
}
.sidenav---sidenav---_2tBP .sidenav---sidenav-nav---3tvij .ant-image{
  margin-left: 16px;
  margin-top: 40px;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T,.sidenav---sidenav-navitem---uwIJ-.sidenav---selected---1EK3y.sidenav---highlighted---oUx9u{
  padding-top: 0 !important;
  height: 130px !important;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo p{
  position: relative;
  bottom:15px; left: 10px;
}
.sidenav---sidenav-toggle---1KRjR{
  background-image: url('./images/icons/home.svg') !important;
  z-index: 0 !important;
  background-size: cover;
  margin-left: 13px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  
}


/* navbar */
.App .nav-item{
  padding: 12px 10px;
  background-color: #5B337E;
  position: relative;
  width: 95%;
  float: right;
  z-index: 1;
  font-size: 27px;
}
.App .nav-item >:first-child{
  margin-left: 10px;
}
.App .nav-item > *{
  float: right;
}
.App .top-bar{
  display: flex;
  margin-left: 64px;
  justify-content: space-between;
  padding: 5px 10px;
  background:#5B337E !important;
  border-bottom: 1px solid white !important;
}
.App .top-bar .top-bar-1{
  line-height: 54px;
  margin-left: 45px;
}
.App .top-bar .top-bar-2{
  display: flex;
}
.App .top-bar .top-bar-2 .name-bar{
  line-height: 54px;
  margin-right: 15px;
}
.App .container .main{
  padding-top: 0;
}
.App .container .main .container{
  width: 80%;
  height: 100%;
  margin-left: 100px;
  overflow: hidden;
}
.App .container .main .title{
  font-size: 30px;
  margin: 35px 0px;
  font-weight: 600;
}
.App .container .main .dashboard .dashboard-search{
  display: flex;
  justify-content: space-between;
  background-color: #502E75;
  padding: 30px 15px;
  padding-top: 5px;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 5px;
}
.App .container .main .dashboard .dashboard-search .search-2{
  width: 49%;
}
.App .container .main .dashboard .dashboard-search .link-copy{
  display: flex;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 0;
  height: 50px;
  line-height: 0px;
  padding: 5px 20px;
  justify-content: space-between;
  color: white !important;
  cursor: pointer;
}
.App .container .main .dashboard .dashboard-search .link-copy .link-text{
  line-height: 1.5;
}
.App .container .main .dashboard .dashboard-search .link-copy.text .link-text{
  line-height: 0;
}
.App .container .main .dashboard .dashboard-search .link-copy p{
  
  margin-right: 0;
  margin-top: 20px;
}
.App .container .main .dashboard .dashboard-search .link-copy.text{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.App .container .main .dashboard .dashboard-search .link-copy img.ant-image-img{
  /* margin-top: 8px !important;
  margin-left: 50px !important;
  width: auto;
  margin-right: 15px; */
}
.App .container .main .dashboard .dashboard-search .link-copy.text img.ant-image-img{
  /* margin-left: 555px !important; */
}
.App .container .main .dashboard .dashboard-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App .container .main .dashboard .dashboard-content.networks-content{
  margin-bottom: 40px;
}
.App .container .main .dashboard .dashboard-content .one-items{
  display: flex;
  width: 30%;
  justify-content: space-between;
  background-color: #5C327D;
  padding: 25px 20px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 30px;
  line-height: 0;
  font-weight: bold;
  margin-top: 40px;
}
.App .container .main .dashboard .dashboard-content .one-items.istop{
  margin-top: 0px;
}
.App .container .main .dashboard .dashboard-content .one-items .text-dashboard{
  margin-top: 20px;
  float: right;
  text-align: right;
}
.App .container .main .dashboard .dashboard-content .one-items:first-child .text-dashboard .price-dashboard{
  position: relative;
  top: 15px;
}
.App .container .main .dashboard .dashboard-content .one-items .text-dashboard .title-dashboard{
  font-weight: normal;
  font-size: 20px;
  float: right;
  line-height: 0;
}
.App .container .main .packages .packages-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 750px;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  overflow: hidden;
}
    /* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.App .container .main .packages .packages-content .item{
  width: 32%;
  background-color: #5C327D;
  
  font-weight: 600;
}
.App .container .main .packages .packages-content .item.top{
  margin-top: 20px;
}
.App .container .main .packages .packages-content .item .item-top{
  display: flex;
  width: 100%;
  padding: 20px 20px;
  /* padding-right: 0; */
  text-align: right;
  justify-content: space-between;
}
.App .container .main .packages .packages-content .item .item-top .item-top-left{
  display: flex;
  line-height: 0;
}
.App .container .main .packages .packages-content .item .item-top .item-top-left .item-text{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 15px;
  
}
.App .container .main .packages .packages-content .item .item-top .item-top-left .item-text span{
  float: left;
}
.App .container .main .packages .packages-content div.item .item-top .item-top-right{
  font-size: 25px;
}
.App .container .main .packages .packages-content div.item .item-top .item-top-right p {
  cursor: pointer;
}
.App .container .main .packages .packages-content .item .item-bottom{
  text-align: center;
  border-top: 1px solid white;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  cursor: pointer;
}
.App .container .main .packages .packages-content .item .item-bottom.not-available{
  cursor: not-allowed;
}
.ant-modal-content ,.ant-modal-header,.ant-modal-footer,.ant-modal-title{
  background-color: #29153A !important;
  border: none !important;
  color: white !important;
}
.ant-modal-header{
  border-bottom: 1px solid white !important;
}
.ant-modal-content .ant-modal-footer{
  display: none;
}
.ant-modal-body .modal.packages .confirm{
  font-size: 30px;
  width: 100%;
  border-top: 1px solid white;
  margin-top: 60px;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}
.ant-modal-body .modal.packages .button-modal{
  margin-top: 18px;
  float: right;
  
}
.ant-modal-body .modal.packages .button-modal >*{
  border-radius: 3px;
}
.ant-modal-body .modal.packages .button-modal >:first-child{
  margin-right: 10px;
}

/* ************Wallets CSS******************* */

.App .container .main .wallets .wallets-content .wallets-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.App .container .main .wallets .wallets-content .wallets-top .item{
  width: 48%;
  background-color: #5C327D;
  border-radius: 5px;
  justify-content: space-between;
}
.App .container .main .wallets .wallets-content .wallets-top .item .item-top{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  font-weight: 600;
}
.App .container .main .wallets .wallets-content .wallets-top .item  .item-top .top-left >*{
  display: inline;
  
}
.App .container .main .wallets .wallets-content .wallets-top .item  .item-top .top-left img{
  margin-right: 27px;
}
.App .container .main .wallets .wallets-content .wallets-top .item  .item-top .top-left .ant-image-img{
  width: auto;
}
.App .container .main .wallets .wallets-content .wallets-top .item .item-top .top-right{
  font-size: 30px;
  margin-top: -5px;
}
.App .container .main .wallets .wallets-content .wallets-top .item .item-bot{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 15px 20px;
}
.App .container .main .wallets .wallets-content .wallets-top .item .item-bot > *{
  cursor: pointer;
}
/* **********Wallets bottom*********** */
.App .container .main .wallets .wallets-content .wallets-bottom{
  background-color: #613887;
  font-size: 20px;
  padding: 15px 20px;
  margin-top: 30px;
  max-height: 600px;
  overflow: hidden;
}
.App .container .main .wallets .wallets-content .wallets-bottom .title{
  margin-top: 0;
  line-height: 1;
}
.App .container .main .wallets .wallets-content .wallets-bottom .content,.ant-modal-body .modal-content .content{
  display: flex;
  justify-content: space-between;
}
.App .container .main .wallets .wallets-content .wallets-bottom .content.one{
  margin-top: 30px;
}
.ant-modal-body .modal-content .content,.ant-modal-body .title-pools-modal{
  border: 1px solid white;
  font-size: 20px;
  padding: 10px 10px;
}
.ant-modal-body .title-pools-modal{
  border-bottom: 1px solid white;
}

/* modal wallets css  */
.img-scan{
  width: 100%;
  text-align: center;
}
.img-scan img{
  width: auto;
}
.text-scan{
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  border-top: 1px solid white;
}
.button-amount{
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.button-amount > *{
  margin-left: 15px;
}
.wallet-confirm{
  text-align: center;
  font-size: 30px;
  width: 100%;
  line-height: 10px;
  margin-top: 0;
  position: relative;
  top: 15px;
  cursor: pointer;
}

/* pools tab css */

.App .container .main .pools .pools-content{
  width: 100%;
  font-size: 15px;
  max-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App .container .main .pools .pools-content .one-item{
  width: 32%;
  border-radius: 5px;
  background-color: #623787;
}
.App .container .main .pools .pools-content .one-item.pos{
  margin-top: 30px;
}
.App .container .main .pools .pools-content .one-item .top,.App .container .main .pools .pools-content .one-item .bot{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.App .container .main .pools .pools-content .one-item .top .top-left p{
  display: inline;
  margin-left: 15px;
  font-weight: 700;
}
.App .container .main .pools .pools-content .one-item .top .top-right{
  font-size: 30px;
  font-weight: 600;
}
.App .container .main .pools .pools-content .one-item .bot{
  border-top: 1px solid white;
  padding: 15px;
  padding-bottom: 5px;
  
}
.App .container .main .pools .pools-content .one-item .bot > *{
  cursor: pointer;
}

/* settings css */

.App .container .main .settings .settings-content{
  margin-top: 50px;
}
.App .container .main .settings .settings-content .ant-tabs-top > .ant-tabs-nav::before{
  visibility: hidden;
}
.ant-tabs.ant-tabs-top{
  color: white ;
  width: 100%;
}
.ant-tabs-tab.ant-tabs-tab-active,.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: white !important;
  background-color: #8F45C8;
  padding: 30px 20px;
  /* padding-bottom: 40px; */
}
.ant-tabs-nav-list{
  width: 100%;
  justify-content: space-between;
  background-color: #643887;
  
}
.ant-tabs-tab{
  margin: 0 !important;
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.ant-tabs-ink-bar{
  visibility: hidden;
}
.ant-tabs-nav-list .ant-tabs-tab:first-child{

  background-position: top center;
  background-repeat: no-repeat;
  background-position-y: 10px;
}
.ant-tabs-nav-list .ant-tabs-tab:first-child{
  background-image: url('./images/settings-img/personnal.svg') !important;
}
.ant-tabs-nav-list .ant-tabs-tab:nth-child(2){
  background-image: url('./images/settings-img/authen.svg') !important;
}
.ant-tabs-nav-list .ant-tabs-tab:nth-child(3){
  background-image: url('./images/settings-img/twofactor.svg') !important;
}
.ant-tabs-nav-list .ant-tabs-tab:nth-child(4){
  background-image: url('./images/settings-img/security.svg') !important;
}
.ant-tabs-nav-list .ant-tabs-tab{
  background-position: top center;
  background-repeat: no-repeat;
  background-position-y: 10px;
}
.ant-tabs-tab::after{
  position: relative;
  top: -20px;right: 125px;
  font-size: 30px;
  font-weight: 600;
  margin-top: 60px;
}
.ant-tabs-tab::before{
  position: relative;
  font-size: 14px;
  top: 50px;left: 100px;
}
.ant-tabs-tab:first-child::after
{
  content: 'Personal';
}
.ant-tabs-tab:nth-child(2)::after{
  content: 'Authentication';
  right: 100px;
}
.ant-tabs-tab:nth-child(3)::after{
  content: 'Two-factor';
  right: 115px;
}
.ant-tabs-tab:nth-child(4)::after{
  content: 'Security';
  right: 110px;
}
.ant-tabs-tab:first-child::before{
  content: 'Update your personal infor';
  
}
.ant-tabs-tab:nth-child(2)::before{
  content: 'Change your password';
  left: 150px;

}
.ant-tabs-tab:nth-child(3)::before{
  content: 'Protect your account with 2FA';

}
.ant-tabs-tab:nth-child(4)::before{
  content: 'Multi Layered Security';
}
.ant-tabs-tab-btn{
  visibility: hidden;
}
.App .container .main .settings .settings-content{
  height: 100%;
}
.App .container .main .settings .settings-content .tab-content{
  background-color:rgba(112,52,135,0.7);
  max-height: 700px;
  margin-top: -16px;
  padding: 10px 20xp;
}
.App .container .main .settings .settings-content .tab-content.personal-content .parent-flex{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  font-size: 20px;
  
}
.App .container .main .settings .settings-content .tab-content.personal-content .parent-flex .child-1,
.App .container .main .settings .settings-content .tab-content.personal-content .parent-flex .child-2,
.App .container .main .settings .settings-content .tab-content .content .one-content .child-1,
.App .container .main .settings .settings-content .tab-content .content .one-content .child-2
{
  width: 47%;
  
}
.App .container .main .settings .settings-content .tab-content .ant-input{
  padding: 10px 10px;
  background-color: #502E75 !important;
  color: white;
  font-size: 20px;
}
.ant-input-affix-wrapper{
  background-color: #502E75 !important;
}
.ant-input-group-addon,.App .container .main .settings .settings-content .tab-content .ant-btn-primary{
  background-color:#27777A !important;
}
.ant-input-group-addon{
  border: 1px solid white !important;
  border-radius: 5px !important;
}
.App .container .main .settings .settings-content .tab-content .ant-btn-primary{
  padding: 20px 10px;
  border: none;
}
.App .container .main .settings .settings-content .tab-content.personal-content .parent-flex .child-2 .btn-save,
.App .container .main .settings .settings-content .tab-content .content .one-content .child-2 .btn-save{
  width: 100%;
  padding: 25px 0px;
  background-color: #27777A;
  color: white;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 5px;

}
.App .container .main .settings .settings-content .tab-content.personal-content .parent-flex .child-2 .btn-save span,
.App .container .main .settings .settings-content .tab-content .content .one-content .child-2 .btn-save span{
  position: relative;
  bottom: 15px;
}
.App .container .main .settings .settings-content .tab-content.authen-content .title{
  display: flex;
  justify-content: space-between;
 
}
.App .container .main .settings .settings-content .tab-content.authen-content .title >*{
  width: 47%;
}
.App .container .main .settings .settings-content .tab-content{
  padding: 20px 20px;
}
.App .container .main .settings .settings-content .tab-content .content .one-content{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.App .container .main .settings .settings-content .tab-content .content .one-content .child-2 .btn-save{
  margin-top: 50px;
}
.App .container .main .settings .settings-content .tab-content .content .one-content .child-2 .ant-input-group-wrapper.ant-input-search .ant-btn.ant-btn-primary.ant-input-search-button span{
 position: relative;
 bottom: 8px;
}